*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    line-height: 18px;
    font-style: normal;
    font-weight: normal;
}
body{
    background-image: linear-gradient(#74B3CE, #172A3A) ;
}
.conteiner{
    width: 375px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.10);
    border-radius: 50px 0px 50px 0px;
}
h1{
    font-size: 24px;
    line-height: 18px;
    color: #F4F4F4;
    text-align: center;
    padding-top: 25px;
    font-weight: bold;
}
header{
    background-image: linear-gradient(to right, #74B3CE, #172A3A) ;
    height: 66px;
    border-radius: 50px 0px 50px 0px;
    letter-spacing: 2px;
}
main{
    padding: 24px;
}
label{
    font-size: 14px;
    color: #508991;
    font-weight: 500;
}
b{
    font-weight: bold;
}
select{
    width: 100%;
    height: 48px;
    background-color: #67a8c4;
    border: 1px solid #172A3A;
    border-radius: 8px;
    display: block;
    cursor: pointer;
    outline: none;
    appearance: none;
    padding-left: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    margin-top: 6px;
    margin-bottom: 24px;
    font-size: 16PX;
    color: #004346;
    font-weight: 700;
}
select:focus{
    background-color: #74B3CE;
}
input{
    width: 100%;
    height: 48px;
    background: #67a8c4;
    border: 1px solid #172A3A;
    border-radius: 8px;
    display: block;
    outline: none;
    padding-left: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    margin-top: 6px;
    margin-bottom: 24px;
    font-size: 18px;
}
input:focus{
    background-color: #74B3CE;
}f
input::placeholder{
    color: #004346;
    font-weight: 700;
    opacity: .7;
}
button{
    background-image: linear-gradient(to right, #74B3CE, #172A3A) ;
    cursor: pointer;
    border-radius: 0px 50px 0px 50px;
    color: #f4f4f4;
    font-weight: bold;
    font-size: 16px;
    border: none;
    height: 48px;
    width: 80%;
    margin: 0 10% 36px 10%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    letter-spacing: 2px;
}
button:hover{
    width: 100%;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 0 0 36px 0;
    background-image: linear-gradient(to left, #74B3CE, #172A3A) ;
}
button:active{
    opacity: 0.4;
    background-image: linear-gradient(to left, #74B3CE, #172A3A) ;
}
section{
    border: 1px solid #172A3A;
    border-radius: 10%;
}
.currency-conteiner{
    text-align: center;
    padding : 10px;
}
.currency-name{
    font-size: 14px;
    color: #777777;
    margin: 3px auto;
}
.currency-value{
    color: #172A3A;
    font-weight: bold;
    font-size: 20px;
}
.arrow-img{
    margin: 15px auto;
    display: block;
    width: 60px;
}